.navigation {
    background: rgba(25, 34, 68);
    /* backdrop-filter: blur(10px); */
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 83px;
    height: auto;
    left: 0;
    bottom: 0px;

}


.navigation ul {
    background: rgba(25, 34, 68, 0.7);
    backdrop-filter: blur(10px);
    display: flex;
    width: 100%;
    height: 83px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 5);
    height: 100%;
}

.navigation a {
    font-family: Gilroy, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}